PORT = 3000
TZ = "Europe/Athens"
UPLOAD_MAXSIZE = 4
MONGODB_HOST = "cluster0.0ednp.mongodb.net"
MONGODB_USER = "panos"
MONGODB_PASSWORD = ""
MONGODB_DATABASE = "push-notifications"
SMTP_HOST = "smtp.mailtrap.io"
SMTP_PORT = 25
SMTP_USER = "1b3b31c3f8e075"
SMTP_PASSWORD = "4119bd75e6978b"
JWT_TOKEN_SECRET = "nodejswebnotifications"
ELASTIC_APM_ACTIVE = false
ELASTIC_APM_SERVICE_NAME = ""
ELASTIC_APM_SECRET_TOKEN = ""
ELASTIC_APM_SERVER_URL = ""